#wrap {
    width: 100%;
}

#header {
    width: 100%;
    height: 165px;
}

#header_in {
    margin: 0 auto;
    width: 1000px;
    height: 119px;

}

#header_in .logo {
    float: left;
    width: 230px;
    height: 115px;
    padding-top: 50px;
    box-sizing: border-box;
}

#header_in .menu {
    float: right;
    width: 670px;
    height: 115px;
}

#header_in .infomn {
    float: left;
    margin: 10px 0 0 400px;
}

#header_in .infomn li {
    float: left;
    border-right: 1px solid #555;
    margin-right: 10px;
    padding-right: 10px;
    line-height: 11px;
}

#header_in .infomn li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

#header_in .infomn a {
    font-size: 11px;
}

#header_in .q_mn {
    float: left;
    margin: 25px 0 0 160px;
}

#header_in .q_mn li {
    float: left;
}

#header_in .q_mn li:after {
    content: "·";
    font-size: 20px;
    padding: 0 10px;
    line-height: 16px;
}

#header_in .q_mn li:last-child::after {
    content: " ";
    padding: 0 0px;
    line-height: 0px;
}

#header_in .q_mn a {
    font-size: 16px;
}

#header_in .input {
    float: left;
    margin: 23px 0 0 10px;
    width: 260px;
    height: 25px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;

}

#header_in .input span {
    float: left;
    padding-left: 10px;
    font-size: 10px;
    line-height: 25px;
}

#header_in .input a {
    float: right;
}

#nav {
    width: 100%;
    height: 46px;
    background: url(../images/nav_area.jpg) no-repeat 50% 0
}

#nav ul {
    margin: 0 auto;
    width: 1005px;
}

#nav ul li {
    float: left;
}

#main_img {
    width: 100%;
    height: 465px;
    background: url(../images/main_img.jpg) no-repeat 50% 0;
}

#contents {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 75px;
}

#item {
    margin: 0 auto;
    width: 1000px;
    height: 260px;
}

#item_h {
    float: left;
    width: 180px;
    height: 260px;
}

#item_h .ttl {
    padding: 20px 0;
    font-size: 28px;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

#item_h .menu {
    margin-top: 25px;
}

#item_h .menu li {
    margin-bottom: 10px;
}

#item_h .menu li a {
    font-size: 16px;
    color: #555;
}

#item_h .menu li:hover a {
    color: orange;
    text-decoration: underline;
}

#item_h .menu li:hover::after {
    content: " > ";
    font-size: 18px;
    color: orange;
}

#item_b {
    float: right;
    width: 792px;
    height: 260px;
}

#item_b li {
    margin-right: 10px;
    float: left;
    width: 188px;
    height: 260px;
    border: 1px solid #ccc;
}

#item_b li:last-child {
    margin-right: 0px;
}

#item_b li img {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#item_b li h5 {
    padding: 10px 0 0 10px;
    font-size: 16px;
}

#item_b li p {
    padding-left: 8px;
    font-size: 10px;
    font-size: 12px;
}

#banner {
    margin: 0 auto;
    margin-top: 45px;
    width: 1000px;
    height: 280px;
}

/* // 320 320 320 =40/2 */
#banner>a {
    float: left;
    margin-right: 18px;
}

#banner>a:last-child {
    margin-right: 0;
}

#movie {
    margin-top: 45px;
    width: 100%;
    height: 300px;
    background: url(../images/movie.png)no-repeat 50% 0;
    position: relative;
}

#movie a.btn01 {
    position: absolute;
    left: 50%;
    top: 100px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #000
}

#movie a.btn02 {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border: 1px solid #000
}

#style {
    margin: 0 auto;
    margin-top: 45px;
    width: 1000px;
    height: 260px;
    background-color: tomato;
}

#style_h {
    float: left;
    width: 190px;
    height: 260px;
    background-color: turquoise;
}

#style_b {
    float: right;
    width: 800px;
    height: 260px;
    background-color: rgb(179, 243, 236);
}

#style_b figure {
    float: left;
    width: 190px;
    height: 260px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 13.3px;
}

#style_b figure img {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#style_b figcaption {
    padding: 10px;
}


#style_b figure:last-child {
    margin-right: 0;
}

#style_b h4 {
    font-size: 16px;
}

#style_b p {
    font-size: 12px;
}

#go_btns {
    margin: 0 auto;
    margin-top: 45px;
    width: 1000px;
    height: 395px;
}

#go_btns .group {
    float: left;
    width: 492px;
    height: 395px;
}

#go_btns .group a:last-child {
    display: block;
    margin-top: 15px;
    height: 189px;
}

#go_btns>a {
    float: right;
}

#footer {
    width: 100%;
}

#footer .group {
    width: 100%;
    height: 160px;
    background: url(../images/footer_top_bg.jpg)repeat-x 0 0;
}

#footer .banner_box {
    margin: 0 auto;
    width: 1000px;
    height: 110px;
}

#footer .banner_box>img {
    float: left;
}

#footer .notice {
    margin: 0 auto;
    width: 1000px;
    height: 50px;
}

#footer .notice .ttl,
#footer .notice .txt {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-right: 30px;
    line-height: 50px;
}

#footer .notice .date {
    float: right;
    margin-right: 20px;
    color: #fff;
    line-height: 50px;
}

#f_top {
    width: 100%;
    height: 290px;
    background-color: yellow;
}

#f_top>div {
    margin: 0 auto;
    width: 1000px;
    height: 290px;
    background-color: rgb(114, 114, 99);
    padding-top: 30px;
    box-sizing: border-box;
}

#f_top .mainmn {
    margin-left: 30px;
    float: left;
}

#f_top .mainmn>li{
    float: left;
    margin-right: 100%;
    text-align: center;
}
#f_top .mainmn li:last-child{
    margin-right: 0px;
}


#f_top .mainmn h4{
    margin-left: 30px;
    font-size: 20px;

}
#f_top .submn li {
    margin-bottom: 5px;
}


#f_top .submn li a{ 
    font-size: 16px;
}

#f_top .callcenter {
    float: right;
    width: 240px;
    

}

#f_top .callcenter .ttl {
    border-bottom: 1px solid #555;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    text-align: center;
    padding:  0px 0 10px;
    margin-bottom: 15px;
}

#f_top .callcenter .s_ttl{
    font-size: 15px;
}

#f_top .callcenter .txt {
    font-size:12px ;
    margin-bottom: 15px;

}

#f_top .callcenter .appmn {}

#f_top .callcenter .appmn>li {
    margin-right: 5px;
    float: left;
    width: 110px;
    height: 60px;
    border: 1px solid #ccc;
}
#f_bottom {
    width: 100%;
    height: 150px;
    background-color: rgb(33, 180, 224);
}

#f_bottom>div {
    margin: 0 auto;
    width: 1000px;
    height: 150px;
    background-color: rgb(160, 195, 206);
}

#f_bottom .infomn{}

#f_bottom .infomn li{
    float: left;}

#f_bottom .infomn li::after{
    display: inline-block;
    content: '/';
    font-size: 10px;
    padding: 0px 10px;
    position: relative;
    top: -2.5px;
}

#f_bottom .infomn a{
    font-size: 15px;
}
